body {
    margin: 0;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.click_count {
    color: red;
}

.boosts-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boost {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}