{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
    <a href="{% url 'logout' %}">logout</a>
    <div class="flex-center">
        <h1>CLICKER {{ user.username }}</h1>
        <p class="click_count" id="counter">{{ maincycle.click_count }}</p>
        <button onclick="call_click()">click me +<span id="click_power">{{ maincycle.click_power }}</span></button>

        <div class="boosts-holder" id="boosts-holder">
            {% for boost in boosts %}
                <button class="boost" onclick="buy_boost({{boost.id}})">
                    <p>BOOST {{boost.id}}</p>
                    <p>POWER: <span id="boost_power">{{boost.power}}</span></p>
                    <p>PRICE: <span id="boost_price">{{boost.price}}</span></p>
                </button>
            {% endfor %}
        </div>
    </div>
</body>
</html>